.ui-checkbox {
    width:100%;
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin: 0 auto;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible; 
}

.ui-appearance-checkbox
  line-height: $line-height;
  font-size: $line;
  .ui-appearance-checkbox-label-frame.w-auto
    margin-left: $brick;
    width: auto !important;
    .ui-appearance-checkbox-label
      text-align: left;
  .ui-appearance-checkbox-sprite-frame
    width: $brick;
    height: $brick;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    .ui-appearance-checkbox-sprite
      width: $line;
      height: $line;
      border-radius: $border-radius;
      margin: $line-margin auto;
      .ui-appearance-checkbox-sprite-glyph
        margin: $sub-line-margin;
        .ui-icon
          font-size: $sub-line;

ui-states('.ui-appearance-checkbox','.ui-appearance-checkbox-label', $ui-states, iLabel, $interactivityTolerance)
ui-states('.ui-appearance-checkbox','.ui-appearance-checkbox-sprite', $ui-states, iBtn, $interactivityTolerance)